@font-face {
  font-family: 'Space Rangers';
  src: local('Open Sans'),
        url('fonts/spaceranger.ttf');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  font-variant: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  #root {
    width: 100%;
    height: 100vh;
    position: absolute;
    background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
    overflow: hidden;
    
  }
/* Navbar ______________________________________________________________________________________________*/

.Navbar{
  position: relative;
  width: 100%;
  height: 7vh;
  z-index: 50;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0% 1% 0% 1%;
  
}
.Navbar__container{
  display: flex;
}
.logo__button{
  cursor: pointer;
  color: white;
  font-size: 40px;
  font-family: 'Space Rangers';
  text-decoration: none;
}
.logo {
  font-family: 'Space Rangers';
}
@media (max-width: 500px) {
  .logo__button{
    font-size: 20px;
  }
}

/* Main ______________________________________________________________________________________________*/
.Main{
  width: 100%;
  height: 100vh;
  margin-top: -3%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
/* Login ______________________________________________________________________________________________*/
.Login{
  width: 100%;
  height: 100vh;
  margin-top: -3%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
/* Loader ______________________________________________________________________________________________*/

.Loader{
  position: absolute;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
 
}