
.Main p {
    background: -webkit-linear-gradient(white, #38495a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "lato", sans-serif;
    
}
.title{
    font-size: 64px;
    font-weight: 500;
    animation: anim 3s;
  }
.text {
    margin: 2%;
    font-size: 32px;
    animation: anim 3s;
    text-align: center;
    
  }
@keyframes anim {
    from {
      transform: scale(0);
    }
    to {
      transform: scale(1);
    }
    }

    @media (max-width: 700px) {
      .title{
        font-size: 48px;
      }
      .text{
        font-size: 24px;
      }
    }
    @media (max-width: 500px) {
      .title{
        font-size: 36px;
      }
      .text{
        font-size: 18px;
      }
    }