.commentArea {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 10px;
  }
  
  .commentButton,
  .replyButton,
  .postButton {
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f0f0f0;
  }
  
  .commenting textarea {
    width: 100%;
    margin-bottom: 5px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .parentComment {
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f0f0f0;
  }
  
  .comment {
    margin-top: 15px;
    margin-bottom: 5px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
  }
  
  .comment .commentButton,
  .comment .replyButton {
    margin-top: 5px;
  }
  