/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
    font-family: 'Montserrat';
}
input,button,textarea{font-family:inherit;}

body {
    display: flex;
    justify-content: center;
}

.container {
    width: 1200px;
    height: fit-content;
    display: flex;    
}
.leftSide {
    width: 370px;
    background-color: #1E2939;
    
}
.foto{
    text-align: center;
}
.foto img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin: 10px 0;
}
.items{
    padding: 0 5px 10px 5px;
}
.items h2{
    margin-top: 20px;
    padding: 0 10px;
    font-size: 22px;
    line-height: 27px;
    font-style: normal;
    font-weight: 700;
}
.items h3{
    padding: 0 20px;
    margin-top: 7px;
    font-size: 16px;
    line-height: 20px;
}
.items p{
    padding: 0 25px;
    font-size: 12px;
    line-height: 22px;
    color: rgb(197, 197, 197);
    
}
.item {
    color: white;
}
.list {
    color: white;
}
.contacts {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    
}
.contacts img {
    width: 20px;
    height: 20px;
    margin: 0px 5px 0px 0px;
}
.contacts a{
    padding: 0 5px;
    font-size: 14px;
    line-height: 14px;
    color: rgb(197, 197, 197);
    text-decoration: none;
}
.contacts a:hover{
  text-decoration: underline;    
}
.contact__div{
    display: flex;
    align-items: center;
    margin: 5px 0px 0px 0px;
    padding-left: 15px;
}
.rightSide {
    margin: 50px 0 15px 50px;
}
.summury{
    width: 400px;
    text-align: justify;
    margin: 24px 0 40px 0;
}
.project__main{
    display: block;
   
}

.rightitem {
    display: flex;
    flex-direction: column;
}

.rightitem h2{
    line-height: 27px;
    margin-top: 20px;
}
.rightitem img{
    width: 200px;
    height: 130px;
}
.rightitem a{
    text-decoration: none;
    color: black;
}
.rightitem a:hover{
    text-decoration: underline;
    
}
.project{
    display: flex;
    margin-top: 15px;
}
.project__items{
    margin-left: 10px;
}
.link{
    font-weight: 700;
    margin: 15px 0 5px 0px;
}
.rightlst{
    
    font-size: 14px;
    line-height: 22px;
    
}