.Menu{
  position: absolute;
  top: 0;
  left: 0;
  padding: 1% 10px;
  z-index: 56;
}
.Menu__button{
  background-image: url('../../img/lines_menu_burger_icon_123889.png');
  background-size: 100%;
  width: 30px;
  height: 30px;
  cursor: pointer;
  border: none;
}
/* MenuList ______________________________________*/
.Menu__list{
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 55;
  transform: translateX(-130%);
  transition: all 0.2s;
}
.Menu__list.active{
  transform: translateX(0);
}
.Menu__blur{
  position: absolute;
  width: 100vw;
  height: 100vh;
  left: 30%;
  backdrop-filter: blur(2px);
}
.Menu__content{
  width: 30%;
  height: 100%;
  background-color: black;
}

.Menu__user{
  display: flex;
  padding: 10px 20px 20px 55px;
  justify-content: end;
  align-items: center;
}
.Menu__user ul{
  padding: 0px;
}

.User__name{
  color: white;
  margin: 0px 15px 0px 5px;
  cursor: pointer;
}
.User__logo{
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.User__logo img{
  width: 30px;
  height: 30px;
  border-radius: 15px;
}
.User__signOut{
padding: 5px;
background-color: black;
color: white;
border: 1px solid white;
cursor: pointer;
}

.Menu__content li {
  width: auto;
  border: 1px solid rgb(151, 151, 153);
  padding: 10px;
  margin: 0px 20px 5px 10px;
  color:aliceblue;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
 
}
.Menu__content li:first-child{
  margin-top: 30px;
}
.Menu__content li img{
  width: 100%;
  height: auto;
  margin-right: 5px;
}

.Menu__content li div {
  width: 90px;
  height: 90px;
  display: flex;
  align-items: center;
}


@media (max-width: 762px) {
  .Menu__content{
    width: 100%;
  }
  .Menu__blur{
    display: none;
  }

}
