* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  #root {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow-x: hidden;
    
  }
  /* Navbar__________________________________________________________________________________________*/
 
  .header {
    position: relative;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 50;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.212);
    backdrop-filter: blur(5px);
  }
  .header__container {
    width: 100%;
    display: grid;
    place-items: center;
    grid-template-columns: 0.3fr 0.7fr minmax(200px, 1fr) 1fr;
    padding: 5px 10px;
  }
  .header__logo {
    justify-self: center;
  } 

  .header__logo p {
    position: relative;
    font-family: 'Bodoni Moda';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 100%;
    color: black;
    cursor: pointer;
  } 
  .header__menu{
    justify-self: start;
    
  }
  .header__menu input {
    width: 30px;
    height: 21px;
    cursor: pointer;
    }
 .header__nav{
  color: black;
  display: flex;
  flex-direction: row;
  font-family: 'Raleway';
  font-style: normal;
  justify-self: start;
 }
.header__nav p{
margin: 0 5px 0 0;
cursor: pointer;
}
 .header__icon{
  display: flex;
  justify-self: end;
 }
 .header__icon img {
  width: 25px;
  height: 25px;
  margin: 0 0 0 25px;
  cursor: pointer;
 }
 
 @media (max-width: 900px) {
 .header__nav{
  display: none;
 }
 .header__container {
  grid-template-columns: 1fr 1fr 1fr;
} 
}
@media (max-width: 650px) {
  .header__icon img {
    width: 20px;
    height: 20px;
    margin: 0 0 0 20px;

   }
   .header__logo p {
    font-size: 25px;
  } 
  .header__menu input {
    width: 30px;
    height: 20px;
    cursor: pointer;
    }
   
  }

 @media (max-width: 410px) {
  .header__icon img {
    width: 20px;
    height: 20px;
    margin: 0 0 0 10px;
  }
  .header__logo p {
    text-align: center;
  } 

 }