* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  #root {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow-x: hidden;
    
  }
  /* Navbar__________________________________________________________________________________________*/
 
  .header {
    position: relative;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 50;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.212);
    backdrop-filter: blur(5px);
  }
  .header__container {
    width: 100%;
    display: grid;
    place-items: center;
    grid-template-columns: 0.3fr 0.7fr minmax(200px, 1fr) 1fr;
    padding: 5px 10px;
   
  }
  .header__burger{
    z-index: 60;
  }
  .header__logo {
    justify-self: center;
  } 

  .header__logo p {
    position: relative;
    font-family: 'Bodoni Moda';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 100%;
    color: black;
    cursor: pointer;
  } 
  .header__menu{
    justify-self: start;
    z-index: 100;
  }
  .header__menu input {
    width: 30px;
    height: 21px;
    cursor: pointer;
    }
 .header__nav{
  color: black;
  display: flex;
  flex-direction: row;
  font-family: 'Raleway';
  font-style: normal;
  justify-self: start;
 }
.header__nav p{
margin: 0 5px 0 0;
cursor: pointer;
}
 .header__icon{
  display: flex;
  justify-self: end;
 }
 .header__icon img {
  width: 25px;
  height: 25px;
  margin: 0 0 0 25px;
  cursor: pointer;
 }
 /* Burger menu _________________________________________________________________________________*/

 .Menu__list{
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 100%;
  left: 0;
  transform: translateX(-130%);
  transition: all 0.2s;
  
}
.Menu__list.active{
  transform: translateX(0);
}

.Menu__content{
  width: 15%;
  height: 40%;
  background-color: rgb(58, 58, 58);
}
.Burger__container{
  color: rgb(207, 200, 200);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25px 10px;
  font-size: 22px;
}

.Burger__container p{
  margin-bottom: 10px;
  cursor: pointer;
}

/* user_content __________________________________________________________________________*/

.userMenu{
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 100%;
  right: 0;
  transform: translateX(130%); /* изменить для выезда*/
  transition: all 0.2s;
  
}
.userMenu.active{
  transform: translateX(0);
}

.userMenu__content{
  width: 30%;
  height: fit-content;
  background-color: rgb(58, 58, 58);
  color: rgb(207, 200, 200);
  
  position: absolute;
  right: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25px 10px;
  font-size: 22px;
}
.UserMenu__notAuth{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.AuthButton{
  margin-top: 15px;
  padding: 5px;
}
#imgUserLogo{
  width: 100px;
  height: 100px;
 
}
#imgLogo{
  width: 100%;
  height: auto;
  border-radius: 100px;
}

.Shop__itemCardImg{
  display: flex;
}
.Shop__favoritePage{
  display: flex;
  border: 1px solid white;
}
.Shop__favoritePage p{
 margin: 5px;
}
.Shop__favoritePage input{
  padding: 5px;
 }
.ButtonActive{
  background-color: green;
}
#orderPrice{
  margin: 10px 0;
}
#orderButton{
  padding: 5px;
}

/* Media _________________________________________________________________________________*/

 @media (max-width: 900px) {
 .header__nav{
  display: none;
 }
 .header__container {
  grid-template-columns: 1fr 1fr 1fr;
} 
}
@media (max-width: 650px) {
  .header__icon img {
    width: 20px;
    height: 20px;
    margin: 0 0 0 20px;

   }
   .header__logo p {
    font-size: 25px;
  } 
  .header__menu input {
    width: 30px;
    height: 20px;
    cursor: pointer;
    }
    .Menu__content{
      width: 80%;
      height: 100%;
    }
    .userMenu__content{
      width: 80%;
      height: fit-content;
    }
   
  }

 @media (max-width: 410px) {
  .header__icon img {
    width: 20px;
    height: 20px;
    margin: 0 0 0 10px;
  }
  .header__logo p {
    text-align: center;
  } 

 }