@charset "UTF-8";
/*
& - подключение родителя
$ - создание переменной 
@ - подключение файла
% - создание шаблона и обращение к шаблону через @extend %shablon;
*/
body {
  padding: 50px;
  background-color: #a4d6a4;
}

a {
  border-bottom: 5px solid #11ce0a;
}

.block-text {
  font-size: 20px;
}
.block-text span {
  color: red;
}
.block-text span:hover {
  color: red;
}
.block-text p:hover {
  color: red;
}