@charset "UTF-8";
/*
& - подключение родителя
$ - создание переменной 
@ - подключение файла
% - создание шаблона и обращение к шаблону через @extend %shablon;
*/
/*

Пример Миксина
создание
@mixin fontz($f) {
    font-size: 100px;
}
подключение
@include fontz(100px);

&display=swap - дописать в строчке линк на подключение шрифта
*/
body {
  font-family: Montserrat;
  color: #252B42;
  font-weight: 500;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/* header .......................................................................................*/
.header {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 50;
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 104px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__logo {
  font-size: 24px;
  font-weight: 700;
}

._container {
  max-width: 1046px;
  padding: 0px 15px;
  margin: 0px auto;
}

.menu {
  margin: 0px 0px 0px 133px;
  padding: 5px 0px;
}
.menu_item:not(:last-child) {
  margin: 0px 21px 0px 0px;
}
.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.menu__link {
  color: #737373;
  line-height: 171%;
  font-weight: 600;
}

@media (max-width: 992px) {
  .menu {
    margin: 0px 0px 0px 80px;
  }
}
@media (max-width: 767px) {
  .menu {
    margin: 0px 0px 0px 40px;
  }
}
@media (max-width: 479px) {
  .menu__link {
    font-size: 18px;
  }
}
/* main .......................................................................................*/
.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.main-block__body {
  padding: 184px 0px 191px 0px;
  position: relative;
  z-index: 2;
  max-width: 400px;
}
.main-block .main-block__body > *:not(:last-child) {
  margin: 0px 0px 35px 0px;
}
.main-block__title {
  font-size: 58px;
  line-height: 137%;
  font-weight: 800;
}
.main-block__text {
  color: black;
  font-size: 20px;
  line-height: 150%;
}
.main-block__buttons {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
.main-block__button {
  border-radius: 37px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 48px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 36px;
  letter-spacing: 0.2px;
  font-weight: 700;
  line-height: 150%;
  color: white;
}
.main-block__button_orange {
  background-color: #ff7b47;
}
.main-block__button_border {
  background-color: none;
  color: #0d5c63;
  border: 1px solid #0d5c63;
  margin-left: 10px;
}

.main-block__img {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

@media (max-width: 930px) {
  .main-block__img {
    opacity: 0.5;
  }
}
@media (max-width: 479px) {
  .main-block__title {
    font-size: 42px;
  }
}
/* footer .....................................................................................*/