*{
	padding: 0;
	margin: 0;
	border: 0;
}
html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	font-family: Montserrat;

}
#root {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow-x: hidden;
    
  }

.App{
    width: 100%;
    height: 100%;
    position: relative;
}

/* Navbar _______________________________________________________________________________________________ */

.NavBar{
    position: relative;
    width: 100%;
    height: fit-content;
    background-color: rgb(220, 221, 221);
}
.NavBar__button{
    width: fit-content;
    height: 50px;
    padding: 10px;
    margin: 5px 5px 5px 15px;
    border-radius: 7px;
    cursor: pointer;
}
.NavBar__button:hover{
  background-color: white;
}

/* Registration & Auth_______________________________________________________________________________________________ */
.close{
    font-size: larger;
    font-weight: 800;
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
}
.Registration {
    width: 400px;
    height: 400px;
    background-color:rgb(220, 221, 221);
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 10px;
    transform: translate(-50%, -50%);
    border-radius: 15px;
}
.Registration__none, .Auth__none{
    display: none;
}
.Auth{
    width: 400px;
    height: 400px;
    background-color:rgb(220, 221, 221);
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 10px;
    transform: translate(-50%, -50%);
    border-radius: 15px;
}
.Registration__container, .Auth__container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.Registration__container input, .Auth__container input {
    margin: 5px 0 15px 0px;
    padding: 10px;
}
.Registration__container button, .Auth__container button{
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
}
.Registration__container button:hover, .Auth__container button:hover{
   background-color: white;
}

