
.Dragon__container{
    width: 100%;
    height: 100vh;
    display: flex;
    padding: 7px;
    margin-top: -30px;
    
    
}
.Description{
    width: 50%;
    height: 100vh;
    color: rgb(166, 171, 175);
    font-family: "lato";
    display: flex;
    justify-content: center;
    text-align: justify;
    margin: 6% 0 0 0 ;
}
.Description__name p{
    font-size: 2rem;
}

.Description__body{
    width: 100%;
}
.Table__body{
    margin-right: 10px;
}

.Table__line{
    display: flex;
    justify-content: space-between;
    margin-top: 7px;
    padding-bottom: 7px;
    border-bottom: 1px solid rgba(166, 171, 175, 0.432);
}
.Table__line a{
    color: rgb(166, 171, 175);
}
.Table__line a:hover{
    text-decoration: none;
}

.Table__line div{
    flex: 1 1 50%;
}

.Dragon__slaider{
    width: 50%;
}
.star img{
    width: 30px;
    height: 30px;
}


@media (max-width: 700px) {
    .Dragon{
       
                       
    }
    .Dragon__container{
        flex-direction: column;
        align-items: center;
        margin: 0;
        padding: 10px;
        height: auto;
     
       
    
    }    
    .Description{
    width: 95%;
    height: 50%;
    margin: 0 0 10px 0;
    
    }
    .Dragon__slaider{
    width: 70%;
    height: 50%;
    
    }
}
@media (max-width: 500px) {
    .Description{
    font-size: 0.5rem;
    height: auto;
        }
}
